@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  color: #363853;
}
body a {
  text-decoration: none;
  color: #363853;
}
body ul {
  list-style: none;
}
body button {
  background-color: transparent;
  border: 0px;
  color: #363853;
}
body input {
  border: 0px;
  outline: none;
}
body .flex-align-center {
  display: flex;
  align-items: center;
}
body .header-section h1 {
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
}
body .header-section h1 span {
  color: #FF7A50;
}
body footer {
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.container header {
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
}
.container header h1 {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 1.65px;
}
.container header h1::first-letter {
  color: #FF7A50;
}
.container header .nav-and-btns {
  gap: 60px;
}
.container header .nav-and-btns nav ul {
  gap: 60px;
}
.container header .nav-and-btns nav ul a {
  font-size: 18px;
}
.container header .nav-and-btns .btns-menu {
  gap: 60px;
}
.container header .nav-and-btns .btns-menu button {
  width: 120px;
  height: 50px;
  background-color: #FF7A50;
  color: white;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
}
.container main {
  margin-top: 60px;
}
.container main h1 {
  font-size: 66px;
  font-weight: 500;
  text-transform: capitalize;
}
.container main h1 span {
  color: #FF7A50;
}
.container main p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  max-width: 513px;
  margin-top: 23px;
}
.container main .btns-main {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.container main .btns-main a {
  font-size: 20px;
  border-radius: 5px;
  padding: 13px 21px;
}
.container main .btns-main a:first-of-type {
  color: white;
  background-color: #FF7A50;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
}
.container main .btns-main a:nth-child(2) {
  color: #363853;
  font-size: 20px;
  text-decoration-line: underline;
  background-color: transparent;
  box-shadow: 0px;
}
.container .category-section {
  margin-top: 60px;
}
.container .category-section .header-section h1 {
  text-align: center;
}
.container .category-section .category-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}
.container .category-section .category-menu button {
  width: 210px;
  height: 70px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  background-color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
}
.container .category-section .category-menu button:first-child {
  background-color: #FF7A50;
  color: white;
}
.container .category-section .swipe-mode {
  padding-bottom: 30px;
}
.container .category-section .swiper {
  padding-bottom: 10px;
}
.container .category-section .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 279px;
  text-align: center;
  border-radius: 12px;
  background: #FFF;
}
.container .category-section .swiper-slide .burger-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.container .category-section .swiper-slide .burger-type p {
  font-size: 15px;
  font-weight: 400;
}
.container .category-section .swiper-slide .burger-type span {
  font-size: 15px;
  font-weight: 500;
}
.container .category-section .swiper-slide .burger-type button {
  display: block;
  margin: 13px auto;
  color: #FFF;
  font-size: 15px;
  border-radius: 2px;
  background: var(--Secondary, #FF7A50);
  padding: 7px 13px;
}
.container .delivery-section {
  justify-content: space-evenly;
  margin-top: 60px;
}
.container .delivery-section .right-delivery h1 {
  max-width: 384px;
}
.container .delivery-section .right-delivery .starter-del {
  font-size: 20px;
  line-height: 30px;
  max-width: 449px;
  margin-top: 30px;
}
.container .delivery-section .right-delivery .menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 29px;
}
.container .delivery-section .right-delivery .menu-list p {
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
}
.container .delivery-section .right-delivery button {
  color: #FFF;
  font-size: 20px;
  border-radius: 30px 30px 1px 30px;
  background-color: #FF7A50;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
  padding: 17px 44px;
  margin-top: 52px;
}
.container .manual-section {
  margin-top: 60px;
}
.container .manual-section .header-section h1 {
  text-align: center;
}
.container .manual-section .manual-list {
  display: grid;
  grid-template-columns: repeat(3, 361px);
  justify-content: space-between;
  margin-top: 30px;
  row-gap: 40px;
}
.container .manual-section .manual-list .manual-item {
  border-radius: 53px 5px;
  background: #FFF;
}
.container .manual-section .manual-list .manual-item .name-item {
  padding: 32px 25px;
}
.container .manual-section .manual-list .manual-item .name-item h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.container .manual-section .manual-list .manual-item .name-item .fully-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .manual-section .manual-list .manual-item .name-item .fully-info .date-item {
  display: flex;
  gap: 5px;
  align-items: center;
}
.container .manual-section .manual-list .manual-item .name-item .fully-info .date-item span {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.7;
}
.container .manual-section .manual-list .manual-item .name-item .fully-info button {
  background-color: #FF7A50;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
  padding: 5px 28px;
}
.container .dowload-section {
  margin-top: 100px;
  justify-content: space-evenly;
}
.container .dowload-section p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  max-width: 538px;
}
.container .dowload-section .links-dowload {
  gap: 44px;
  margin-top: 37px;
}
.container .comment {
  margin-top: 70px;
}
.container .comment .header-section h1 {
  text-align: center;
}
.container .comment .comment-blog {
  margin-top: 40px;
}
.container .comment .comment-blog .comment-item {
  margin-top: 20%;
}
.container .comment .comment-blog .comment-item p {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
}
.container .comment .comment-blog .comment-item h3 {
  text-align: end;
}
.container .subscription-section {
  margin: 60px auto 0px;
  background-color: #FF7A50;
  border-radius: 20px;
  text-align: center;
}
.container .subscription-section .starter-subscription {
  max-width: 70%;
  margin: 0px auto;
  padding: 30px 0px;
}
.container .subscription-section .starter-subscription h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
}
.container .subscription-section .starter-subscription p {
  color: #FFF;
  font-size: 16px;
  line-height: 30px;
}
.container .subscription-section .starter-subscription label {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 50px;
  border-radius: 70px;
  background: #FFF;
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
}
.container .subscription-section .starter-subscription label input {
  width: 50%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 20px;
}
.container .subscription-section .starter-subscription label button {
  justify-content: center;
  gap: 10px;
  background-color: #FF7A50;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 191px;
  height: 59px;
  border-radius: 70px;
}
.container footer .footer-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-top: 100px;
}
.container footer .footer-nav .links-footer {
  margin-top: 20px;
  gap: 20px;
}
.container footer .footer-nav .links-footer svg {
  fill: #EEEEEF;
  background-color: #363853;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}
.container footer .footer-nav h2 {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 1.65px;
  margin-top: 10px;
}
.container footer .footer-nav h2::first-letter {
  color: #FF7A50;
}
.container footer .footer-nav .info-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.container footer .footer-nav .list-footer h3,
.container footer .footer-nav .list-footer a {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.18px;
}
.container footer .footer-nav .list-footer h3 {
  font-weight: 500;
}
.container footer .footer-nav .list-footer a {
  font-weight: 400;
}
.container footer .footer-nav .list-footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container footer .bottom-footer {
  justify-content: space-between;
  padding: 25px 0px;
}
.container footer .bottom-footer a {
  color: #646464;
  font-size: 17px;
  line-height: 14px;
}
.container footer .bottom-footer .links-bottom-footer {
  gap: 30px;
}

.for-phone {
  display: none;
}

header .logo h1 {
  transition: all 0.4s ease;
}
header .logo h1:hover {
  transform: scale(1.2);
}
header button,
header svg {
  transition: all 0.4s ease;
}
header button:hover,
header svg:hover {
  transform: translateY(-5px);
}

main a {
  transition: all 0.4s ease;
}
main a:hover {
  transform: scale(1.2);
}

.category-menu button {
  transition: all 0.4s ease;
}
.category-menu button:hover {
  color: white;
  background-color: #FF7A50 !important;
}

header ul a,
footer ul a {
  position: relative;
  transition: all 0.4s ease;
}
header ul a::after,
footer ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  left: 0;
  height: 3px;
  background-color: #FF7A50;
  transition: all 0.4s ease;
}
header ul a:hover::after,
footer ul a:hover::after {
  width: 100%;
}
header ul a:hover,
footer ul a:hover {
  color: #FF7A50;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .for-pc {
    display: none;
  }
  .flex-align-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .home header {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .home header .flex-align-center {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .home main h1,
  .home main p {
    max-width: 100%;
  }
  .home main h1 {
    font-size: 40px;
  }
  .home main img {
    max-width: 400px;
  }
  .home main .btns-main {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .category-menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .delivery-section img {
    width: 400px;
  }
  .manual-list {
    grid-template-columns: repeat(2, auto) !important;
    gap: 30px;
  }
  .manual-list img {
    max-width: 100%;
  }
  .left-dowload .flex-align-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .img-commentor {
    display: none !important;
  }
  .comment-item {
    margin-right: 50px;
  }
  label .flex-align-center {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  footer .flex-align-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-nav {
    grid-template-columns: repeat(3, auto) !important;
  }
}
@media screen and (max-width: 425px) {
  .for-phone {
    display: block;
  }
  .manual-list {
    grid-template-columns: repeat(1, auto) !important;
  }
  body img {
    max-width: 100%;
  }
  .menu-list p {
    font-size: 20px !important;
  }
  .comment-item p {
    font-size: 19px !important;
  }
  .till-tablet {
    display: none !important;
  }
  .subscription-section h1 {
    font-size: 28px !important;
  }
  .subscription-section p {
    font-size: 15px !important;
  }
  .subscription-section label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100% !important;
    padding: 10px 0 !important;
    border-radius: 3px !important;
    margin-top: 30px;
  }
  .subscription-section label button {
    max-width: 100px;
    max-height: 50px;
    font-size: 14px !important;
    margin-top: 20px;
  }
  .footer-nav {
    grid-template-columns: repeat(2, auto) !important;
  }
  .footer-nav a {
    font-size: 14px !important;
  }
  .bottom-footer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    row-gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
